<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>webProject</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>myServlet</servlet-name>
  	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  	<load-on-startup>1</load-on-startup> 
<!--   	this is optional -->


	<multipart-config>
           <location>/Users/rameshsitaula/Downloads/temp</location>
                     <max-file-size>5242880</max-file-size><!--5MB-->
                <max-request-size>20971520</max-request-size><!--20MB-->
                <file-size-threshold>0</file-size-threshold>
     </multipart-config>
  </servlet>
 
  <servlet-mapping>
  	<servlet-name>myServlet</servlet-name>
  	<url-pattern>/</url-pattern>
  </servlet-mapping>
  
<!--   <filter-mapping> -->
<!--     <filter-name>BlockFilter</filter-name> -->
<!--      <url-pattern>/*</url-pattern> -->
<!--   </filter-mapping> -->
<!--   <filter-mapping> -->
<!--     <filter-name>RoleFilter</filter-name> -->
<!--      <url-pattern>/*</url-pattern> -->
<!--   </filter-mapping> -->
  
</web-app>